.header{
    height: 1rem;
   overflow: hidden;
   margin-bottom: 0.3rem;
}
.header img{
 padding: 0.3rem 0;
}
.header input{
    /* height: 1rem; */
    width: 2rem;
    background-color: #cccccc;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}