.list img{
width: 3rem;
float: left;
border-radius: 0.4rem;
margin-right: 0.4rem;
}
.list li{
    overflow: hidden;
    margin-bottom: 0.4rem;
}

.list .goodsname{
  margin-bottom: 0.4rem;
  
}
.list .price{
    color: red;
}
.list ul{
    margin-bottom: 1rem;
}
.list button{
    height: 1rem;
    border: none;
    outline: none;
    background-color: orange;
    border-radius: 0.3rem;
    color: white;
    text-align: center;
    font-size: 0.4rem;
    padding: 0.2rem;
    margin-top: 0.3rem;
}

.active{
    color: orange;
}
